 .navbar-brand
            {
                font-size:25px;
            }

            #topContainer
            {
                background-image: url("images/bt_img.jpg");
               margin: 0;
                width: 100%;
                background-size: cover;
            }


            #content
            {
                color:black;
                margin-top:100px;
            }
            .center{
                text-align: center;

            }
            #content h1{
                font-size: 300%;
                color: darkblue;
            }
            .marginTop{
                margin-top: 40px;
            }
            #footer
            {
                background-color: black;
                padding-top:70px;
                width:100%;
            }
            .marginBottom{
                margin: 30px;
            }


            .appstoreImage {
                width:250px;
            }